# README.md

# Research question: for these 399 pts what are dx, age, race etc info?

## Table of Contents
* [Read data, clean up and get stats](#first-bullet)
* [Assign drug use status per row](#second-bullet)
* [Assign Gleason_scores and imputed stages per row](#second-bullet)

In [3]:
import numpy as np
import pandas as pd
import sys, getopt
import csv
from datetime import datetime
import itertools

import matplotlib.pyplot as plt
from matplotlib import pyplot
from pylab import *

%matplotlib inline  
import seaborn as sns

# Read data, clean up and get stats <a class="anchor" id="first-bullet"></a>

In [5]:
df1=pd.read_csv("./data/sean_sql_code_generated_full_pts_dxdate_demo_202103051650.csv", header=0)
#df1=pd.read_excel("_with_pts_ml_as_select_distinct_cc_person_id_cc_cancer_type_name_202102261747.xlsx", header=0)
#df2=pd.read_excel("pt_list.xlsx", header=0)
df2=pd.read_excel("./data/pt_list_all_rows.xlsx", header=0) 

df1.fillna('', inplace=True)
df1.replace(r'', np.NaN)
df1[:3]

df_gle=pd.read_csv("./data/gleason_score__202103031300.csv", header=0)
df_imp=pd.read_csv("./data/pca_patients_with_imputed_stage_info_202103031708.csv", header=0)
df_gle.fillna('', inplace=True)
df_gle.replace(r'', np.NaN)

df_imp.fillna('', inplace=True)
df_imp.replace(r'', np.NaN)
df_gle[:3]

,person_id,cancer_type_id,year_of_diagnosis,month_of_diagnosis,day_of_diagnosis,gleason_score,psa,psa_date
0,267,2,2015,4,3,9,,
1,339,2,2015,11,9,7,,
2,345,2,2018,4,24,7,,

In [6]:
df_imp[:3]

   person_id imputed_stage
0        267           III
1        339           III
2        345          IIIB

In [7]:
result_pt_list=df2["person_id"].to_list()
result_row_list=df2["person_id"].to_list()

df2[:5]
#print(len(result_pt_list))
print(len(result_row_list))

unique_result_pt_list=set(result_row_list)
print(len(unique_result_pt_list))

899
399

In [8]:
result_row_list[-1]

205289

In [9]:
#result_pt_list
df1[:3]

,person_id,cancer_type_name,source_type,dxdate,dx_year,dx_month,dx_day,date_of_birth,date_of_death,gender,race,ethnicity,ageatdx
0,2,PCA,ml,1/7/03,2003,1,7,10/15/33,4/22/17 0:00,Male,White,Not Hispanic or Latino,69
1,11,PCA,ml,3/19/12,2012,3,19,1/22/68,,Male,Black or African American,Not Hispanic or Latino,44
2,12,PCA,ml,10/24/12,2012,10,24,2/9/43,,Male,Black or African American,Not Hispanic or Latino,70

In [10]:
df1_grouped=df1.groupby(["person_id"]).size().reset_index(name='counts')
database_pt_list=df1_grouped["person_id"].to_list()
print(len(database_pt_list))

intersection_set = set.intersection(set(unique_result_pt_list), set(database_pt_list))
print("overlapping counts:")
print(len(intersection_set))

overlap_list=list(intersection_set)

df_gle_grouped=df_gle.groupby(["person_id"]).size().reset_index(name='counts')
database_pt_list_gle=df_gle_grouped["person_id"].to_list()
#unique_result_pt_list 
intersection_set_gle=set.intersection(set(unique_result_pt_list),set(database_pt_list_gle))
print("overlapping counts:")
print(len(intersection_set_gle))

overlap_list_gle=list(intersection_set_gle)

df_imp_grouped=df_imp.groupby(["person_id"]).size().reset_index(name='counts')
database_pt_list_imp=df_imp_grouped["person_id"].to_list()
#unique_result_pt_list 
intersection_set_imp=set.intersection(set(unique_result_pt_list),set(database_pt_list_imp))
print("overlapping counts:")
print(len(intersection_set_imp))

overlap_list_imp=list(intersection_set_imp)

19382
overlapping counts:
389
overlapping counts:
377
overlapping counts:
376

In [11]:
index_list=df1.columns
index_list

Index(['person_id', 'cancer_type_name', 'source_type', 'dxdate', 'dx_year',
       'dx_month', 'dx_day', 'date_of_birth', 'date_of_death', 'gender',
       'race', 'ethnicity', 'ageatdx'],
      dtype='object')

In [12]:
overlap_list[:5]

[32774, 10251, 174095, 170000, 182302]

In [14]:
#delete empty columns
print(df1.shape)
#del_col=['start_date_source']
#for col in del_col:
#    del df1[col]
#print(df1.shape)

(19496, 13)

In [15]:
#for this list of rows get the dx etc info 
result_row_list[:5]

[339, 345, 345, 345, 435]

In [18]:
y = 339
df1[(df1["person_id"] == y)]
Row_list=[]
#need a much better approach 
#for index, rows in df1.iterrows(): 
    # Create list for the current row 
    #my_list =[rows.person_id, rows.cancer_type_name, rows.source_type, rows.dxdate, rows.dx_year,
     #  rows.dx_month, rows.date_of_birth, rows.date_of_death, rows.gender, rows.race, rows.ethnicity, rows.ageatdx, rows.psa, rows.psa_date] 
      
    # append the list to the final list 
    #Row_list.append(my_list)

In [20]:
df1[:3]

,person_id,cancer_type_name,source_type,dxdate,dx_year,dx_month,dx_day,date_of_birth,date_of_death,gender,race,ethnicity,ageatdx
0,2,PCA,ml,1/7/03,2003,1,7,10/15/33,4/22/17 0:00,Male,White,Not Hispanic or Latino,69
1,11,PCA,ml,3/19/12,2012,3,19,1/22/68,,Male,Black or African American,Not Hispanic or Latino,44
2,12,PCA,ml,10/24/12,2012,10,24,2/9/43,,Male,Black or African American,Not Hispanic or Latino,70

# grep dx etc info status only for the pts and in the row listed <a class="anchor" id="second-bullet"></a>

In [25]:
result_list=[]

#database_pt_list

for y in result_row_list:
#for y in [11]:
    df1_pt=df1[(df1["person_id"] == y)]
    #pt_drug_list=df1_pt.cancer_drug.to_list()[0]
    
    if y not in overlap_list: 
        df1_pt=df1[(df1["person_id"] == y)]
        
        person_id=y
        cancer_type_name='NaN'
        source_type='NaN'
        dxdate='NaN'
        dx_year='NaN'
        dx_month='NaN'
        dx_day='NaN'
        date_of_birth='NaN'
        date_of_death='NaN'
        gender='NaN'
        race='NaN'
        ethnicity='NaN'
        ageatdx='NaN'
        psa='NaN'
        psa_date='NaN'
            
    if y in overlap_list:             
        df1_pt=df1[(df1["person_id"] == y)]
        
        person_id=y
        cancer_type_name=df1_pt.cancer_type_name.to_list()[0] 
        source_type=df1_pt.source_type.to_list()[0]
        dxdate= df1_pt.dxdate.to_list()[0]
        dx_year=df1_pt.dx_year.to_list()[0]
        dx_month=df1_pt.dx_month.to_list()[0]
        dx_day=df1_pt.dx_day.to_list()[0]
        
        date_of_birth=df1_pt.date_of_birth.to_list()[0]
        date_of_death=df1_pt.date_of_death.to_list()[0]
        gender=df1_pt.gender.to_list()[0]
        race=df1_pt.race.to_list()[0]
        ethnicity=df1_pt.ethnicity.to_list()[0]
        ageatdx=df1_pt.ageatdx.to_list()[0]
#        psa=df1_pt.psa.to_list()[0]
#        psa_date=df1_pt.psa_date.to_list()[0]

    result_per_pt=[person_id,cancer_type_name,source_type,dxdate,ageatdx,dx_year,dx_month,dx_day, date_of_birth,date_of_death,gender,race,ethnicity] 
    result_list.append(result_per_pt)

In [26]:
df_results=pd.DataFrame(result_list)
df_results.columns=(['person_id', 'cancer_type_name', 'source_type', 'dxdate','ageatdx', 'dx_year',
       'dx_month', 'dx_day','date_of_birth', 'date_of_death', 'gender', 'race',
       'ethnicity'])

In [27]:
df_results[:3]

,person_id,cancer_type_name,source_type,dxdate,ageatdx,dx_year,dx_month,dx_day,date_of_birth,date_of_death,gender,race,ethnicity
0,339,PCA,ml,2/3/16,72,2016,2,3,4/23/44,,Male,Other,Not Hispanic or Latino
1,345,PCA,ml,4/24/18,64,2018,4,24,5/22/54,,Male,Other,Hispanic or Latino
2,345,PCA,ml,4/24/18,64,2018,4,24,5/22/54,,Male,Other,Hispanic or Latino

In [313]:
print(shape(df_results)[0])

899

In [28]:
df_results.to_csv("./data/pca_pts_399pts_results_dx_results_Mar05.csv", encoding='utf-8', index=False)

In [29]:
print(len(result_row_list))
result_row_list[:5]

899

[339, 345, 345, 345, 435]

# Gleason_scores <a class="anchor" id="third-bullet"></a>

In [30]:
df_gle[:3]

,person_id,cancer_type_id,year_of_diagnosis,month_of_diagnosis,day_of_diagnosis,gleason_score,psa,psa_date
0,267,2,2015,4,3,9,,
1,339,2,2015,11,9,7,,
2,345,2,2018,4,24,7,,

In [36]:
result_list_gle=[]

for y in result_row_list:
#for y in [339]:
    #df_gle_pt=df_gle[(df_gle["person_id"] == y)]
    #pt_drug_list=df1_pt.cancer_drug.to_list()[0]
    
    if y not in overlap_list_gle: 
        #df_gle_pt=df_gle[(df_gle["person_id"] == y)]
        
        person_id=y
        gleanson='NaN'
            
    if y in overlap_list_gle:
        df_gle_pt=df_gle[(df_gle["person_id"] == y)]
        
        person_id=y
        gleanson = df_gle_pt.gleason_score.to_list()[0]
        
    #print(y,gleanson)    
    result_per_pt_gle=[person_id,gleanson] 
    result_list_gle.append(result_per_pt_gle)

In [37]:
df_imp[:3]

   person_id imputed_stage
0        267           III
1        339           III
2        345          IIIB

In [38]:
df_results_gle=pd.DataFrame(result_list_gle)
df_results_gle.columns=(['person_id', 'Gleason_Score'])
df_results_gle[:3]

   person_id Gleason_Score
0        339             7
1        345             7
2        345             7

In [39]:
df_results_gle.to_csv("./data/pca_pts_399pts_results_gleason_Mar04.csv", encoding='utf-8', index=False)

# Imputed stages <a class="anchor" id="third-bullet"></a>

In [42]:
result_list_imp=[]
#database_pt_list

for y in result_row_list:
#for y in [11]:

    if y not in overlap_list_imp: 
        df_imp_pt= df_imp[(df_imp["person_id"] == y)]
        
        person_id=y
        imputed='NaN'
            
    if y in overlap_list_imp:
        df_imp_pt= df_imp[(df_imp["person_id"] == y)]
        
        person_id=y
        imputed= df_imp_pt.imputed_stage.to_list()[0]
        
    #print(y,imputed)
    result_per_pt_imp=[person_id,imputed] 
    result_list_imp.append(result_per_pt_imp)

In [43]:
y=11
df_imp[:3]

   person_id imputed_stage
0        267           III
1        339           III
2        345          IIIB

In [44]:
df_results_imp=pd.DataFrame(result_list_imp)
df_results_imp.columns=(['person_id', 'Imputed_stage'])
len(df_results_imp)
len(df_results_gle)

899

In [45]:
df_results_imp.to_csv("./data/pca_pts_399pts_results_imputed_stage_Mar04pm.csv", encoding='utf-8', index=False)

In [46]:
#combined=pd.merge(df_results_gle, df_results_imp, on='person_id')
#combined[998:999
#merged=df_results_gle.merge(df_results_imp, on='person_id')
#len(merged)